<!-- ここからプロフィール画面 -->
<h2>User info</h2>

	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpeg" %>
	<div class="profile-name">
		<p>name</p>
		<%= user.name %>
	</div>
	<div class="profile-introduction">
		<p>introduction</p>
		<%= user.introduction %>
	</div>
	<% if user_signed_in? && user.id == current_user.id %>
		<botton type="botton" class="btn btn-default">
			<%= link_to edit_user_path(user) do %>
				<span class="glyphicon glyphicon-wrench col-md-4" aria-hidden="true"></span>
			<% end %>
		</botton>
	<% else %>
		<botton type="botton" class="btn btn-default">
			<%= link_to user_path(current_user.id) do %>
				<span class="glyphicon glyphicon-wrench col-md-4" aria-hidden="true"></span>
			<% end %>
		</botton>
	<% end %>
<!-- ここまでプロフィール画面 -->