<div class="container">

  <div class="row">
    <div class="col-md-4">
      <!-- ここからプロフィール画面 -->
        <%= render 'users/profile', user: @user %>
      <!-- ここまでプロフィール画面 -->

      <!-- ここから新規投稿画面 -->
        <%= render 'books/list', book: @book_new %>
      <!-- ここまで新規投稿画面 -->
    </div>

    <!-- ここから一覧画面	 -->
    <div class="col-md-8">
      <h2>Users</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        	<% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg" %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
          <% end %>
          <%= paginate @users, class: "paginate" %>
        </tbody>
      </table>
    </div>
    <!-- ここまで一覧画面 -->
  </div>

</div>
