<h2>Books詳細画面です。</h2>

<!-- ここからプロフィール画面 -->
<%= render 'users/profile', user: @user %>
<!-- ここまでプロフィール画面 -->

<!-- ここから新規投稿画面 -->
<%= render 'books/list', book: @book_new %>
<!-- ここまで新規投稿画面 -->

<!-- ここから一覧画面	 -->
<h3>Book detail</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th><th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book.user) do %>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(@book.user) do %>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
      <% if user_signed_in? && @book.user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_book_path(@book) %></td>
        <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<!-- ここまで一覧画面 -->


